.navbar {
    padding: 1rem;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  
    .navbar-brand {
      font-size: 1.5rem;
      font-weight: bold;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      color: #333;
  
      &:hover {
        color: #0d6efd;
        text-decoration: none;
      }
    }
  
    .user-info {
      .username {
        font-size: 1rem;
        font-weight: 500;
        color: #333;
  
        &:hover {
          color: #0d6efd;
        }
      }
  
      .dropdown-menu {
        min-width: 250px;
        padding: 1rem;
        border-radius: 8px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
      }
    }
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    // margin-top: 200px;
  }
  
  .allocation-card {
    padding: 1.5rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background: #fff;
    margin-top: 100px;
  
    .lead-count {
      font-size: 1.5rem;
      font-weight: bold;
      color: #0d6efd;
    }
  }
  
  .custom-table {
    margin-top: 50px;
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    
    mat-header-cell {
      font-weight: bold;
      background-color: #007bff; /* Blue background for header */
      color: white;
      padding: 12px;
      text-align: left;
      border-bottom: 2px solid #e1e1e1;
    }
  
    mat-cell {
      padding: 12px;
      text-align: left;
      border-bottom: 1px solid #e1e1e1;
    }
  
    mat-row:nth-child(even) {
      background-color: #f1f9fc; /* Light blue for even rows */
    }
  
    mat-row:hover {
      background-color: #e0f7fa; /* Lighter blue on hover */
    }
   
    .status-chip {
      padding: 4px 8px;
      border-radius: 16px;
      font-size: 12px;
      font-weight: bold;
      color: white;
      display: inline-block;
    }
  
    .status-chip.completed {
      background-color: #4caf50; /* Green for completed */
    }
  
    .status-chip.pending {
      background-color: #f44336; /* Red for pending */
    }
  }
  
  
  .save-btn-container {
    display: flex;
    justify-content: flex-end;
  
    button {
      font-size: 1rem;
      padding: 0.5rem 1.5rem;
    }
  }
