.navbar {
    padding: 1rem;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  
    .navbar-brand {
      font-size: 1.5rem;
      font-weight: bold;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      color: #333;
  
      &:hover {
        color: #0d6efd;
        text-decoration: none;
      }
    }
  
    .user-info {
      .username {
        font-size: 1rem;
        font-weight: 500;
        color: #333;
  
        &:hover {
          color: #0d6efd;
        }
      }
  
      .dropdown-menu {
        min-width: 250px;
        padding: 1rem;
        border-radius: 8px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
      }
    }
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    // margin-top: 200px;
  }
  
  .allocation-card {
    padding: 1.5rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background: #fff;
    margin-top: 100px;
  
    .lead-count {
      font-size: 1.5rem;
      font-weight: bold;
      color: #0d6efd;
    }
  }
  
  .mat-table-container {
    overflow-x: auto;
    margin-top: 100px;
  }
  
  table {
    width: 100%;
    // border-collapse: collapse;
  }
  
  th.mat-header-cell {
    background-color: #f5f5f5;
    font-weight: bold;
    text-align: left;
  }
  
  td.mat-cell, th.mat-header-cell {
    padding: 16px;
  }
  
  .status-chip {
    padding: 4px 8px;
    border-radius: 16px;
    font-size: 12px;
    font-weight: bold;
    color: white;
    display: inline-block;
  }
  
  .status-chip.completed {
    background-color: #4caf50; /* Green for completed */
  }
  
  .status-chip.pending {
    background-color: #f44336; /* Red for pending */
  }
  
  .save-btn-container {
    display: flex;
    justify-content: flex-end;
  
    button {
      font-size: 1rem;
      padding: 0.5rem 1.5rem;
    }
  }
