<nav class="navbar navbar-expand-lg navbar-light bg-white shadow">
    <div class="container-fluid">
      <!-- Company Name -->
      <a class="navbar-brand d-flex align-items-center" routerLink="/layout/dashboard">
        <i class="bi bi-building fs-4 me-2"></i> Rescale
      </a>
  
      <!-- Navigation Links -->
  
  
      <!-- User Info -->
      <div class="d-flex align-items-center ms-auto user-info dropdown">
        <button
          class="btn btn-light dropdown-toggle d-flex align-items-center"
          type="button"
          id="dropdownMenuButton"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <div
            class="user-initials bg-primary text-white rounded-circle d-flex align-items-center justify-content-center me-2"
            style="width: 40px; height: 40px;"
          >
            {{ initials }}
          </div>
          <span class="username">{{ username }}</span>
        </button>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
          <li class="dropdown-header">
            <div class="d-flex align-items-center">
              <div
                class="user-initials bg-primary text-white rounded-circle d-flex align-items-center justify-content-center me-2"
                style="width: 40px; height: 40px;"
              >
                {{ initials }}
              </div>
              <div>
                <div class="username">{{ username }}</div>
              </div>
            </div>
          </li>
          <li>
            <a class="dropdown-item" href="#"><i class="bi bi-gear"></i> Profile Settings</a>
          </li>
          <li>
            <a class="dropdown-item" href="#"><i class="bi bi-question-circle"></i> Help Center</a>
          </li>
         
          <li>
            <a class="dropdown-item text-danger" href="#"><i class="bi bi-box-arrow-right"></i> Sign Out</a>
          </li>
        </ul>
      </div>
    </div>
</nav>

<div class="card-container">
  <div class="card">
    <div class="card-content">
      <div class="lead-info">
        <span class="lead-title">Leads Allocated:</span>
        <span class="lead-number allocated">50</span>
      </div>
      <div class="lead-info">
        <span class="lead-title">Leads Remaining:</span>
        <span class="lead-number remaining">10</span>
      </div>
    </div>
  </div>
</div>


<div class="table-container">
    <mat-table [dataSource]="dataSource" matSort class="custom-table mat-elevation-z8">
      <!-- Order ID Column -->
      <ng-container matColumnDef="orderId">
        <mat-header-cell *matHeaderCellDef class="order-id-cell"> Order ID </mat-header-cell>
        <mat-cell *matCellDef="let element" class="order-id-cell">
          {{ element.orderId || 'N/A' }}
        </mat-cell>
      </ng-container>
  
      <!-- Undo Column -->
      <ng-container matColumnDef="undo">
        <mat-header-cell *matHeaderCellDef class="undo-cell"> Undo </mat-header-cell>
        <mat-cell *matCellDef="let element" class="undo-cell">
          <button mat-button color="primary" (click)="undoAction(element.orderId)">Undo</button>
        </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
  